$primary: #1C2331; //
$info: #7f7f7f; // grey

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white

$font-family-serif:      "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-serif !default;

$headings-font-family:        'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

hr {
  margin: 18px 0;
  border-style: inset;
  border-width: 2px 0;
  border-color: $primary;
  background-color: $primary;
  border-style: solid none;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
