/*
Create your own 'skin' to the Mikrotata theme by swapping out colors and fonts below:
*/

$primary: #212121; // elegant-color-dark
$info: #9e9e9e; // grey

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white

$font-family-serif:      'Noto+Serif', "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-serif !default;

$headings-font-family:         'Noto+Sans', sans-serif;

/* STIKHOI begins here */
/* Suppress line numbers. */

ol.verse {
  margin-left: 2em;
  padding-left: 0.5em;
}

ol.verse li {
  list-style-type: none;
  padding: 0.1em 0;
}
/* Reveal line numbers conditionally based
	on the value of the start attribute. */

[start$="1"] li:nth-child(5n),
[start$="2"] li:nth-child(5n+4),
[start$="3"] li:nth-child(5n+3),
[start$="4"] li:nth-child(5n+2),
[start$="5"] li:nth-child(5n+1),
[start$="6"] li:nth-child(5n),
[start$="7"] li:nth-child(5n+4),
[start$="8"] li:nth-child(5n+3),
[start$="9"] li:nth-child(5n+2),
[start$="0"] li:nth-child(5n+1) {
  list-style-type: decimal;
}
/* Indent even numbered lines. */

[start$="1"].couplets li:nth-child(2n),
[start$="2"].couplets li:nth-child(2n+1),
[start$="3"].couplets li:nth-child(2n),
[start$="4"].couplets li:nth-child(2n+1),
[start$="5"].couplets li:nth-child(2n),
[start$="6"].couplets li:nth-child(2n+1),
[start$="7"].couplets li:nth-child(2n),
[start$="8"].couplets li:nth-child(2n+1),
[start$="9"].couplets li:nth-child(2n),
[start$="0"].couplets li:nth-child(2n+1) {
  text-indent: 1em;
}
/* STROPHES */
/* Proper indentation for strophes. This varies depending
	upon which line in the pattern begins the citation.
	Lines within a strophe are given letters: A, B, C, & D. */

ol:not(.from-B):not(.from-C).indent-C li:nth-child(3n+3),
.from-B.indent-C li:nth-child(3n+2),
.from-C.indent-C li:nth-child(3n+1),
ol:not(.from-B):not(.from-C):not(.from-D).indent-D li:nth-child(4n+4),
.from-B.indent-D li:nth-child(4n+3),
.from-C.indent-D li:nth-child(4n+2),
.from-D.indent-D li:nth-child(4n+1) {
  text-indent: 1em;
  padding-bottom: 1em;
}

ol:not(.from-B):not(.from-C).indent-C-D li:nth-child(4n+3),
.from-B.indent-C-D li:nth-child(4n+2),
.from-C.indent-C-D li:nth-child(4n+1),
.from-D.indent-C-D li:nth-child(4n) {
  text-indent: 1em;
}

ol:not(.from-B):not(.from-C):not(.from-D).indent-C-D li:nth-child(4n+4),
.from-B.indent-C-D li:nth-child(4n+3),
.from-C.indent-C-D li:nth-child(4n+2),
.from-D.indent-C-D li:nth-child(4n+1) {
  text-indent: 2em;
  padding-bottom: 1em;
}

ol.verse li {
  content: counter(poem);
  float: right;
  padding-left: 3em;
  color: #FF0000;
  font-size: 0.8em;
  padding-top: 0.2em;
}

/* JAVASCRIPT-DEPENDENT STYLES */
/* A CSS counter that replaces the native
   numbering of ordered lists. */
/* Conceal line numbers in each ordered list. */

ol.verse.js li {
  list-style-type: none;
}
/* Replace the OL with a CSS counter. */

ol.verse.js {
  counter-reset: poem;
  display: inline-block;
}
/* Each line item is counted. */

ol.verse.js li {
  counter-increment: poem;
}
/* Prepare to display the counter after each line. */

ol.verse.js li::after {
  content: counter(poem);
  float: right;
  padding-left: 3em;
  color: #FF0000;
  font-size: 0.8em;
  padding-top: 0.2em;
}
/* Suppress the counter. */

ol.verse.js li::after,
ol.verse.js li::after {
  visibility: hidden;
}
/* Reveal counter where appropriate. */

[start$="1"].js li:nth-child(5n):after,
[start$="2"].js li:nth-child(5n+4):after,
[start$="3"].js li:nth-child(5n+3):after,
[start$="4"].js li:nth-child(5n+2):after,
[start$="5"].js li:nth-child(5n+1):after,
[start$="6"].js li:nth-child(5n):after,
[start$="7"].js li:nth-child(5n+4):after,
[start$="8"].js li:nth-child(5n+3):after,
[start$="9"].js li:nth-child(5n+2):after,
[start$="0"].js li:nth-child(5n+1):after {
  visibility: visible;
}
