.navbar{
  box-shadow: 1px 1px 1.5px $primary;
  opacity: 0.8;
  background: $primary;

  .nav-item{
    font-size: 1.2rem;
    padding-right: 20px;
  }
}

.nav-link {
  color: $info !important;

  &:hover {
    color: $white !important;
  }
}
