.navbar{
  box-shadow: 1px 1px 2px $dark;

  .nav-item{
    font-size: 1rem;
    padding-right: 20px;
  }
}

.nav-link {
  color: $info !important;
  font-family: $headings-font-family;

  &:hover {
    color: $primary !important;
  }
}
